slides/assets/arch_theme.png filter=lfs diff=lfs merge=lfs -text
slides/assets/windows_start_menu.png filter=lfs diff=lfs merge=lfs -text
slides/assets/arch_installer.png filter=lfs diff=lfs merge=lfs -text
slides/assets/supertuxkart_video.mp4 filter=lfs diff=lfs merge=lfs -text
slides/assets/why_linux_is_awesome_slide.png filter=lfs diff=lfs merge=lfs -text
slides/assets/wsl.png filter=lfs diff=lfs merge=lfs -text
slides/assets/zuckerburg.png filter=lfs diff=lfs merge=lfs -text
slides/assets/confetti.png filter=lfs diff=lfs merge=lfs -text
slides/assets/command_prompt.png filter=lfs diff=lfs merge=lfs -text
slides/assets/ransomware.png filter=lfs diff=lfs merge=lfs -text
slides/assets/blender.png filter=lfs diff=lfs merge=lfs -text
slides/assets/arch_logo.png filter=lfs diff=lfs merge=lfs -text
slides/assets/mint_desktop.png filter=lfs diff=lfs merge=lfs -text
slides/assets/polybar_config.png filter=lfs diff=lfs merge=lfs -text
slides/assets/ubuntu_desktop.png filter=lfs diff=lfs merge=lfs -text
slides/assets/arch_desktop.png filter=lfs diff=lfs merge=lfs -text
slides/assets/IBM_PC_AT.png filter=lfs diff=lfs merge=lfs -text
slides/assets/kali_linux.png filter=lfs diff=lfs merge=lfs -text
slides/assets/linuxmasterrace.png filter=lfs diff=lfs merge=lfs -text
slides/assets/manjaro_desktop.png filter=lfs diff=lfs merge=lfs -text
slides/assets/blockchain_logo.png filter=lfs diff=lfs merge=lfs -text
slides/assets/csg_logo.png filter=lfs diff=lfs merge=lfs -text
slides/assets/windows_update.png filter=lfs diff=lfs merge=lfs -text
slides/assets/fedora_desktop.png filter=lfs diff=lfs merge=lfs -text
slides/assets/tux_logo.png filter=lfs diff=lfs merge=lfs -text
