// Background colours
$backgroundColour: #141a1b;
$codeBackgroundColour: #fafafa;
$featureBackgroundColour: #141a1b;
$accentColour: #55ffff;
$footerColour: #0e1313;

// Text colours
$headingColour: #c7c2c1;
$bodyColour: #c7c2c1;
$linkColour: #46d1d1;
$hoverColour: #55ffff;
$focusColour: #5555ff;
$captionColour: #a8adac;
$white: #ebe5e4;

@font-face {
  font-family: "Droid Sans Mono";
  src: url("/assets/fonts/DroidSansMono.ttf");
}

// Typography
$bodytype: (
  font-family: "Droid Sans Mono",
  regular: 200,
  bold: 600,
  italic: italic,
  cap-height: 0.75
);

$headingtype: (
  font-family: "Droid Sans Mono",
  regular: 300,
  bold: 600,
  cap-height: 0.75
);

$monospacetype: (
  font-family: 'Menlo, monospace',
  regular: 400,
  cap-height: 0.68
);

// Font import, if you're using a non-standard web font
// @import url('https://fonts.googleapis.com/css?family=Open+Sans:300,700');
// @import url('https://fonts.googleapis.com/css?family=Ubuntu:400,700');
