@font-face {
    font-family: "Droid Sans Mono";
    src: url("/assets/fonts/DroidSansMono.ttf");
}

body {
    background-color: #f3f3f3;
}

code {
    font-family: monospace;
    white-space: nowrap;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6,
.reveal ol,
.reveal p {
    font-family: "Droid Sans Mono";
    font-weight: 200;
    text-transform: none;
}

.reveal section img {
    border: none;
}

.reveal .question-mark {
    position: absolute;
    font-size: 0.6em;
    opacity: 0.5;
}

#footer {
    font-family: "Droid Sans Mono";
    font-weight: 200;
    position: absolute;
    bottom: 0%;
    left: 0%;
    font-size: large;
    background-color: #f3f3f3;
}
