@font-face {
  font-family: "Computer Modern";
  src: url('/assets/fonts/cmunti.ttf');
}

@font-face {
  font-family: "Computer Modern";
  src: url('/assets/fonts/cmunbi.ttf');
  font-weight: bold;
}

@font-face {
  font-family: "Computer Modern";
  src: url('/assets/fonts/cmunrm.ttf');
  font-style: italic, oblique;
}

@font-face {
  font-family: "Computer Modern";
  src: url('/assets/fonts/cmunbx.ttf');
  font-weight: bold;
  font-style: italic, oblique;
}

body {
  background-color: #f3f3f3;
}

.reveal h1,
.reveal h2,
.reveal h3,
.reveal h4,
.reveal h5,
.reveal h6,
.reveal ol,
.reveal p,
.reveal svg text {
  font-family: "Computer Modern", serif;
  font-weight: 200;
  text-transform: none;
}

.reveal code {
  font-variant: small-caps;
}

tr {
  line-height: 2;
}

.reveal section img {
  border: none;
  box-shadow: none;
}

.reveal svg {
  position: absolute;
  left: 5%;
  width: 90%;
  min-height: 100%;
}

.reveal svg line {
  stroke: rgb(255,0,0);
  stroke-width: 4;
}

.reveal svg text {
  font-size: 28pt;
}

.equation {
  margin: 15px auto;
  width: 90%;
}

.container {
  display: table;
  table-layout: fixed;
  flex-wrap: nowrap;
  width: 70%;
  margin: 0 auto;
}

.container > p {
  display: table-cell;
  width: 100%;
  justify-content: center;
}
